---
import '../styles/about.css';

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About Me'

const identity ={
	firstName: 'Alyssa',
	state: 'Colorado',
	job: 'Technical Business Analyst',
	hobbies: ['hike','play video games']
};

const skills = ['HTML','CSS','SQL'];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "upperCase";

const happy = true;
const finished = false;
const goal = 5;
---

<BaseLayout pageTitle={pageTitle}>
<style is:global define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 1.5rem;
      }
	  .skill {
       color: var(--skillColor);
       font-weight: var(--fontWeight);
       text-transform: var(--textCase);
  }
    </style>
  
  <div class="about-me-pic">
  <img src="https://www.dropbox.com/scl/fi/25b9w1k7h22gshup0l3p6/rainbowperu.jpeg?rlkey=wc6quvvaakl3xiy23fsz3o0rs&st=udzmlfgd&raw=1" >
  </div>

  <p>I finished my Astro Learning Tutorial and am now turning this page into an actual blog! I greatly enjoyed learning more about 
      how to turn all of what we learned into a functioning website. My goal is to build more on the foundation from class and this tutorial which introduced me to 
      Java and Markdown. I will have to create the shortcuts and actual content. I am excited to continue my practice and learning! 
    </p>

  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
<p>Here are a few facts about me: </p>
<ul>
<li>My name is {identity.firstName}! </li>
<li>I live in {identity.state} and work as a {identity.job}. </li>
<li>I like to {identity.hobbies[0]} and {identity.hobbies[1]}. </li>
</ul>

<p>Some of my skills include: </p>

<ul>
	{skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>

{happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

</BaseLayout>
  

